body{
    box-sizing: border-box;
}
.abc a{
text-decoration: none;
color:black;
}
.abc a:hover{
    color:dodgerblue;
}
.xyz{
    margin-left:7px;
    display:flex;
    justify-content: space-evenly;
}
.xyz a{
  text-decoration: none;
  color:black;
  padding: 10px;
}
.xyz a:hover{
    color:dodgerblue;
}
.abc{
    margin:auto;
}